{
    "swmqtt":{
        "mqtt_host":"mqtt.jlauiot.com",
        "mqtt_port":1883,
        "mqtt_username":"sworld",
        "mqtt_password":"0031",
        "mqtt_keepalive":60,
        "mqtt_sub_topic":"jlauiot/actuator/0001130118F00004",
        "mqtt_sub_qos":2
    },
    "swlog":{
        "log_path":"/home/swlog/",
        "log_name":"mqtt-client-actuator.log"
    },
    "swgpio":{
        "gpio_mapping_list":{
            "sig1":24,
            "sig2":25
        }
    }
}