{
    "database":{
        "status": 1,
        "host":"192.168.31.86", 
        "port":3306,   
        "username":"test",  
        "password":"0031", 
        "custom_db_name":"heterogeneous_data_db",   
        "raw_db_name":"heterogeneous_rawdata_db",   
        "raw_db_obj":null,  
        "custom_db_obj": null
    },
    "tcp":{
        "queue":null,
        "port":{
            "8000":{
                "name":"tcp_server: 8000",  
                "status":1,
                "instance":null,
                "is_save_raw_data": true,   
                "custom_handle":null,  
                "table_info":{
                    "table_name":"",
                    "table_model":null
                } 
            },
            "8001":{
                "name":"tcp_server: 8001",
                "status":1,
                "instance":null,
                "is_save_raw_data": true,
                "custom_handle":null,
                "table_info":{
                    "table_name":"",
                    "table_model":null,
                } 
            }
        }
    },
    "udp":{
        "queue":null,
        "port":{
            "8000":{
                "name": "udp_server: 8000",
                "status":1,
                "instance": null,
                "is_save_raw_data": true,
                "custom_handle":null,
                "table_info":{
                    "table_name":"",
                    "table_model":null
                }
            }
        }
    },
    "mqtt":{
        "queue":null,
        "host": "broker.hivemq.com",    
        "port": 1883,   
        "username": "", 
        "password": "", 
        "name": "mqtt_client", 
        "sub":{
            "mqtt/sworld/test1":{
                "status":1,
                "is_save_raw_data": true,
                "custom_handle":null,
                "table_info":{
                    "table_name":"",
                    "table_model":null
                }
            }
        }
    }
}