# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\01 项目文件\21-04-29--基于Python的数据异构平台\00 程序源码\heterogeneous_data_platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
